<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Baking Project</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

    <link rel="stylesheet" type="text/css" th:href="@{/newstyle/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/newstyle/css/formStyle.css}">

</head>

<body>
<div id="wrapper">
    <div class="overlay"></div>

    <nav th:include="admin/navbar :: navbar" class="navbar navbar-default navbar-inverse" role="navigation">

    </nav>
    <!-- Sidebar -->
    <nav th:include="admin/side-menu :: navigation" class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper"
         role="navigation">

    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container">
            <div style=" float:right !important;"><p th:utext="${userName}"></p></div>
            <div class="row">
                <div width="100%">
                    <img th:src="@{/images/b2.jpg}" class="img-responsive center-block" width="100%"
                         alt="WebApp"/>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

<script th:src="@{/newstyle/js/index.js}"></script>

</body>
</html>
