<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<nav th:fragment="navigation">
    <div class="pushy-content">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="/admin/index" style="padding-top: 60px !important;">
                    Home Page
                </a>
            </li>
            <li>
                <a href="/admin/index"><i class="fa fa-fw fa-home"></i> Home</a>
            </li>
            <li>
                <a href="/admin/branchForm"><i class="fa fa-fw fa-folder"></i> Branch Creation</a>
            </li>
            <li>
                <a href="/admin/listBranches"><i class="fa fa-fw fa-folder"></i>List Branches</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-file-o"></i> Second page</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-cog"></i> Third page</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Dropdown
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-bank"></i> Page four</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-dropbox"></i> Page 5</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-twitter"></i> Last page</a>
            </li>
        </ul>
    </div>
</nav>
</html>